In [2]:
import pandas as pd
import geopandas as gpd
import matplotlib.pyplot as plt

In [3]:
# LOAD DATAS 
seifa_disadvantage_path = 'C:/Users/TaeikCho/Desktop/Aus_pofol/seifa/datas/SA1-distribution-data-cubes-all/Statistical Area Level 2, SA1 Distributions, SEIFA 2021.xlsx'
df_seifa_dis = pd.read_excel(seifa_disadvantage_path, sheet_name='Table 1', header=5)

print('-'*20,'DATA COLUMNS', '-'*20 )
print(df_seifa_dis.columns)
print('-'*50, '\n')


print('-'*20,'INFO OF DATA', '-'*20 )
print(df_seifa_dis.info())
print('-'*50, '\n')

pd.set_option('display.max_columns', None)

-------------------- DATA COLUMNS --------------------
Index(['2021 Statistical Area Level 2  (SA2) 9-Digit Code',
       '2021 Statistical Area Level 2 (SA2) Name ',
       'Decile ranking of the SA2 within Australia', 'Unnamed: 3',
       'Decile 1 SA1s', 'Decile 2 SA1s', 'Decile 3 SA1s', 'Decile 4 SA1s',
       'Decile 5 SA1s', 'Decile 6 SA1s', 'Decile 7 SA1s', 'Decile 8 SA1s',
       'Decile 9 SA1s', 'Decile 10 SA1s', 'Number of SA1s with a SEIFA score',
       'Number of SA1s without a SEIFA score'],
      dtype='object')
--------------------------------------------------

-------------------- INFO OF DATA --------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2475 entries, 0 to 2474
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   2021 Statistical Area Level 2  (SA2) 9-Digit Code  2473 non-null   object
 1   2021 Statistical Area Level 2 (SA2) Name           2472 non-null   object
 2   Decile ranking of the SA2 within Australia         2353 non-null   float64
 3   Unnamed: 3                                         0 non-null      float64
 4   Decile 1 SA1s                                      2472 non-null   float64
 5   Decile 2 SA1s                                      2472 non-null   float64
 6   Decile 3 SA1s                                      2472 non-null   float64
 7   Decile 4 SA1s                                      2472 non-null   float64
 8   Decile 5 SA1s                                      2472 non-null   float64
 9   Decile 6 SA1s                                      2472 non-null   float64
 10  Decile 7 SA1s                                      2472 non-null   float64
 11  Decile 8 SA1s                                      2472 non-null   float64
 12  Decile 9 SA1s                                      2472 non-null   float64
 13  Decile 10 SA1s                                     2472 non-null   float64
 14  Number of SA1s with a SEIFA score                  2472 non-null   float64
 15  Number of SA1s without a SEIFA score               2472 non-null   float64
dtypes: float64(14), object(2)
memory usage: 309.5+ KB
None
--------------------------------------------------

In [4]:
df = df_seifa_dis[['2021 Statistical Area Level 2  (SA2) 9-Digit Code',
       '2021 Statistical Area Level 2 (SA2) Name ',
       'Decile ranking of the SA2 within Australia']]

df.columns = ['SA2_CODE', 'SA2_NAME', 'IRSD_DECILE']

print('--- RENAMED COLUMNS DATA ---')
df.head(5)

--- RENAMED COLUMNS DATA ---

    SA2_CODE                         SA2_NAME  IRSD_DECILE
0  101021007                        Braidwood          6.0
1  101021008                          Karabar          5.0
2  101021009                       Queanbeyan          5.0
3  101021010                Queanbeyan - East          6.0
4  101021012  Queanbeyan West - Jerrabomberra         10.0

In [5]:
# LOAD DATAS 
seifa_advantage_path = 'C:/Users/TaeikCho/Desktop/Aus_pofol/seifa/datas/SA1-distribution-data-cubes-all/Statistical Area Level 2, SA1 Distributions, SEIFA 2021.xlsx'
df_seifa_adv = pd.read_excel(seifa_advantage_path, sheet_name='Table 2', header=5)

print('-'*20,'DATA COLUMNS', '-'*20 )
print(df_seifa_adv.columns)
print('-'*50, '\n')


print('-'*20,'INFO OF DATA', '-'*20 )
print(df_seifa_adv.info())
print('-'*50, '\n')

pd.set_option('display.max_columns', None)

-------------------- DATA COLUMNS --------------------
Index(['2021 Statistical Area Level 2  (SA2) 9-Digit Code',
       '2021 Statistical Area Level 2 (SA2) Name ',
       'Decile ranking of the SA2 within Australia', 'Unnamed: 3',
       'Decile 1 SA1s', 'Decile 2 SA1s', 'Decile 3 SA1s', 'Decile 4 SA1s',
       'Decile 5 SA1s', 'Decile 6 SA1s', 'Decile 7 SA1s', 'Decile 8 SA1s',
       'Decile 9 SA1s', 'Decile 10 SA1s', 'Number of SA1s with a SEIFA score',
       'Number of SA1s without a SEIFA score'],
      dtype='object')
--------------------------------------------------

-------------------- INFO OF DATA --------------------
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2475 entries, 0 to 2474
Data columns (total 16 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   2021 Statistical Area Level 2  (SA2) 9-Digit Code  2473 non-null   object
 1   2021 Statistical Area Level 2 (SA2) Name           2472 non-null   object
 2   Decile ranking of the SA2 within Australia         2353 non-null   float64
 3   Unnamed: 3                                         0 non-null      float64
 4   Decile 1 SA1s                                      2472 non-null   float64
 5   Decile 2 SA1s                                      2472 non-null   float64
 6   Decile 3 SA1s                                      2472 non-null   float64
 7   Decile 4 SA1s                                      2472 non-null   float64
 8   Decile 5 SA1s                                      2472 non-null   float64
 9   Decile 6 SA1s                                      2472 non-null   float64
 10  Decile 7 SA1s                                      2472 non-null   float64
 11  Decile 8 SA1s                                      2472 non-null   float64
 12  Decile 9 SA1s                                      2472 non-null   float64
 13  Decile 10 SA1s                                     2472 non-null   float64
 14  Number of SA1s with a SEIFA score                  2472 non-null   float64
 15  Number of SA1s without a SEIFA score               2472 non-null   float64
dtypes: float64(14), object(2)
memory usage: 309.5+ KB
None
--------------------------------------------------

In [6]:
print(df_seifa_adv.columns)
df_seifa_adv.head()

Index(['2021 Statistical Area Level 2  (SA2) 9-Digit Code',
       '2021 Statistical Area Level 2 (SA2) Name ',
       'Decile ranking of the SA2 within Australia', 'Unnamed: 3',
       'Decile 1 SA1s', 'Decile 2 SA1s', 'Decile 3 SA1s', 'Decile 4 SA1s',
       'Decile 5 SA1s', 'Decile 6 SA1s', 'Decile 7 SA1s', 'Decile 8 SA1s',
       'Decile 9 SA1s', 'Decile 10 SA1s', 'Number of SA1s with a SEIFA score',
       'Number of SA1s without a SEIFA score'],
      dtype='object')

,2021 Statistical Area Level 2 (SA2) 9-Digit Code,2021 Statistical Area Level 2 (SA2) Name,Decile ranking of the SA2 within Australia,Unnamed: 3,Decile 1 SA1s,Decile 2 SA1s,Decile 3 SA1s,Decile 4 SA1s,Decile 5 SA1s,Decile 6 SA1s,Decile 7 SA1s,Decile 8 SA1s,Decile 9 SA1s,Decile 10 SA1s,Number of SA1s with a SEIFA score,Number of SA1s without a SEIFA score
0,101021007,Braidwood,6.0,NaN,0.0,0.0,1.0,3.0,3.0,0.0,2.0,1.0,0.0,0.0,10.0,0.0
1,101021008,Karabar,5.0,NaN,3.0,1.0,1.0,4.0,4.0,2.0,4.0,2.0,1.0,0.0,22.0,1.0
2,101021009,Queanbeyan,6.0,NaN,0.0,0.0,4.0,5.0,4.0,7.0,3.0,2.0,0.0,0.0,25.0,1.0
3,101021010,Queanbeyan - East,6.0,NaN,0.0,0.0,2.0,2.0,4.0,1.0,0.0,1.0,3.0,1.0,14.0,2.0
4,101021012,Queanbeyan West - Jerrabomberra,9.0,NaN,1.0,1.0,0.0,0.0,1.0,3.0,0.0,5.0,6.0,13.0,30.0,2.0

In [7]:
df_adv = df_seifa_adv[['2021 Statistical Area Level 2  (SA2) 9-Digit Code',
       '2021 Statistical Area Level 2 (SA2) Name ',
       'Decile ranking of the SA2 within Australia']]

df_adv.columns = ['SA2_CODE', 'SA2_NAME', 'IRSAD_DECILE']

print('--- RENAMED COLUMNS DATA ---')
df_adv.head(5)

--- RENAMED COLUMNS DATA ---

    SA2_CODE                         SA2_NAME  IRSAD_DECILE
0  101021007                        Braidwood           6.0
1  101021008                          Karabar           5.0
2  101021009                       Queanbeyan           6.0
3  101021010                Queanbeyan - East           6.0
4  101021012  Queanbeyan West - Jerrabomberra           9.0

In [8]:
df['IRSAD_DECILE'] = df_adv['IRSAD_DECILE']

df.head()

c:\Users\TaeikCho\Desktop\Aus_pofol\seifa\SEIFA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

    SA2_CODE                         SA2_NAME  IRSD_DECILE  IRSAD_DECILE
0  101021007                        Braidwood          6.0           6.0
1  101021008                          Karabar          5.0           5.0
2  101021009                       Queanbeyan          5.0           6.0
3  101021010                Queanbeyan - East          6.0           6.0
4  101021012  Queanbeyan West - Jerrabomberra         10.0           9.0

In [9]:
df['GAP'] = df['IRSD_DECILE'] - df['IRSAD_DECILE']
df['GAP_ABS'] = abs(df['IRSD_DECILE'] - df['IRSAD_DECILE'])


df.head()

c:\Users\TaeikCho\Desktop\Aus_pofol\seifa\SEIFA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
c:\Users\TaeikCho\Desktop\Aus_pofol\seifa\SEIFA\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

,SA2_CODE,SA2_NAME,IRSD_DECILE,IRSAD_DECILE,GAP,GAP_ABS
0,101021007,Braidwood,6.0,6.0,0.0,0.0
1,101021008,Karabar,5.0,5.0,0.0,0.0
2,101021009,Queanbeyan,5.0,6.0,-1.0,1.0
3,101021010,Queanbeyan - East,6.0,6.0,0.0,0.0
4,101021012,Queanbeyan West - Jerrabomberra,10.0,9.0,1.0,1.0

In [ ]:
# Get map file (.shp)
map_path = 'datas/SA2_2021_AUST_SHP_GDA2020/SA2_2021_AUST_GDA2020.shp'
gdf_map = gpd.read_file(map_path)

gdf_map

# Edit gdf_map 
gdf_map = gdf_map[['SA2_CODE21', 'GCC_NAME21','geometry']]
gdf_map.columns = ['SA2_CODE', 'GCC_NAME21', 'geometry']
gdf_map['SA2_CODE'] = gdf_map['SA2_CODE'].astype(str)

gdf_map

,SA2_CODE,GCC_NAME21,geometry
0,101021007,Rest of NSW,"POLYGON ((149.58424 -35.44426, 149.58444 -35.4..."
1,101021008,Rest of NSW,"POLYGON ((149.21899 -35.36738, 149.21800 -35.3..."
2,101021009,Rest of NSW,"POLYGON ((149.21326 -35.34325, 149.21619 -35.3..."
3,101021010,Rest of NSW,"POLYGON ((149.24034 -35.34781, 149.24024 -35.3..."
4,101021012,Rest of NSW,"POLYGON ((149.19572 -35.36126, 149.19970 -35.3..."
...,...,...,...
2468,901031003,Other Territories,"MULTIPOLYGON (((150.69567 -35.18295, 150.69556..."
2469,901041004,Other Territories,"MULTIPOLYGON (((167.96325 -29.07212, 167.96326..."
2470,997979799,Migratory - Offshore - Shipping (OT),None
2471,999999499,No usual address (OT),None
2472,ZZZZZZZZZ,Outside Australia,None

In [11]:
df['SA2_CODE'] = df['SA2_CODE'].astype(str)
final_map = gdf_map.merge(df, on='SA2_CODE', how='left')

final_map.info()

<class 'geopandas.geodataframe.GeoDataFrame'>
Int64Index: 2473 entries, 0 to 2472
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   SA2_CODE      2473 non-null   object
 1   GCC_NAME21    2473 non-null   object
 2   geometry      2454 non-null   geometry
 3   SA2_NAME      2472 non-null   object
 4   IRSD_DECILE   2353 non-null   float64
 5   IRSAD_DECILE  2353 non-null   float64
 6   GAP           2353 non-null   float64
 7   GAP_ABS       2353 non-null   float64
dtypes: float64(4), geometry(1), object(3)
memory usage: 173.9+ KB

c:\Users\TaeikCho\Desktop\Aus_pofol\seifa\SEIFA\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [13]:
final_map.head()

final_map.to_csv('data_with_geometry.csv', sep=',', index=False)

In [12]:
sydney = final_map[final_map['GCC_NAME21'] == 'Greater Sydney'].copy()

import folium

# base map 
m1 = folium.Map(location=[-33.8688, 151.2093], zoom_start=10.5, tiles='cartodbpositron')

# 1st layer : IRSD (disadvantage)
choropleth1 = folium.Choropleth(
    geo_data=sydney,
    name='IRSD (Disadvantage)', 
    data=sydney,
    columns=['SA2_CODE', 'IRSD_DECILE'],
    key_on='feature.properties.SA2_CODE',
    fill_color='RdYlGn',  # red(not good) -> green(good)
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='IRSD Decile'
).add_to(m1)

# 2nd layer : IRSAD (advantage)
choropleth1 = folium.Choropleth(
    geo_data=sydney,
    name='IRSAD (Advantage)', 
    data=sydney,
    columns=['SA2_CODE', 'IRSAD_DECILE'],
    key_on='feature.properties.SA2_CODE',
    fill_color='RdYlGn',  # red(not good) -> green(good)
    fill_opacity=0.7,
    line_opacity=0.2,
    legend_name='IRSAD Decile'
).add_to(m1)

# add tool tip : score with mouse
folium.GeoJson(
    sydney,
    name='Tooltip',
    style_function=lambda x: {'color': 'transparent', 'fillColor': 'transparent', 'weight': 0},
    tooltip=folium.GeoJsonTooltip(
        fields=['SA2_NAME', 'IRSD_DECILE', 'IRSAD_DECILE', 'GAP'],
        aliases=['Suburb:', 'IRSD (Disadv):', 'IRSAD (Total):', 'Gap:'],
        localize=True
    )
).add_to(m1)

# add toggle button 
folium.LayerControl(collapsed=False).add_to(m1)

# SAVE THE MAP
m1.save('sydney_comparison_map.html')
print("Toggle Map is saved as 'sydney_comparison_map.html'! ")

Toggle Map is saved as 'sydney_comparison_map.html'!

In [14]:
# CREATE BASE MAP 
m2 = folium.Map(location=[-33.8688, 151.2093], zoom_start=10.5, tiles='cartodbpositron')

# VISUALISE THE GAP 
folium.Choropleth(
    geo_data=sydney,
    name='Gap Analysis',
    data=sydney,
    columns=['SA2_CODE', 'GAP'],
    key_on='feature.properties.SA2_CODE',
    fill_color='RdBu_r', 
    fill_opacity=0.8,
    line_opacity=0.2,
    legend_name='Gap (IRSAD - IRSD)',
    bins=list(range(-10, 11)) 
).add_to(m2)

# 3. 툴팁 (Gap 설명 추가)
folium.GeoJson(
    sydney,
    name='Gap Tooltip',
    style_function=lambda x: {'color': 'transparent', 'fillColor': 'transparent', 'weight': 0},
    tooltip=folium.GeoJsonTooltip(
        fields=['SA2_NAME', 'GAP', 'IRSD_DECILE', 'IRSAD_DECILE'],
        aliases=['Suburb:', 'Gap Score:', 'IRSD:', 'IRSAD:'],
        localize=True
    )
).add_to(m2)

# 4. 저장
m2.save('sydney_gap_map.html')
print("격차 지도가 'sydney_gap_map.html'로 저장되었습니다!")

격차 지도가 'sydney_gap_map.html'로 저장되었습니다!